.contact-container {
    color: grey; /* White text color */
    padding: 20px; /* Padding for spacing */
    position: relative; /* Positioning context */
    text-align: center; /* Align text to the left */
    font-size: 0.9rem; /* Smaller font size */
    bottom: 0; /* Align to the bottom */
    width: 100%; /* Full width */
    font: 1rem 'Montserrat', sans-serif; /* Font style */
    align-item: center;
    justify-content: flex-end;
    display: center; /* Use flexbox for alignment */
}

.contact-container h1 {
    margin: 0; /* Remove default margin */
}

.contact-container p {
    margin: 5px 0; /* Space between paragraphs */
}
.content {
    flex: 1; /* Allow content to grow and take available space */
    overflow-y: auto; /* Allow vertical scrolling only in this area */
}

.icon-small{
    width: 20px;
    height: 20px;
    margin-right: 2px;
}