.container{
  height: 130vh; /* Adjust the height as needed */
  overflow: hidden; /* Enable vertical scrolling */
  /* padding: 2%; */
  /* padding: 70px;  */
  /* Optional: Add some padding */
  display: flex;
  justify-content: center;
  align-items: center;
  width:100vw;
  overflow-x: hidden;
}
.schedule-container {
  display: flex;
  justify-content: space-between; /* Space between button and image */
  align-items: flex-start; /* Align items vertically */
  width: 90%;
  min-width: 500px; /* Fix typo: min-width instead of mix-width */
  height: auto; /* Let the container grow based on content */
  min-height: 70vh; /* Set a minimum height for larger screens */
}

.button-container {
  display: flex;
  align-items: center; /* Align the buttons vertically in the container */
}

.schedule-image-wrapper {
  flex: 1; /* Allow the image container to grow based on available space */
  max-width: 60%; /* Adjust as needed */
  margin-left: 3rem; /* Space between button and image */
}

.schedule-image {
  position: relative;
  max-width: 100%; /* Ensure the image scales with its container */
  height: auto; /* Maintain aspect ratio */
}

.divider {
  width: 1px; /* Thin vertical line */
  background-color: white; /* White vertical line */
  margin: 0 15px; /* Adds space between button and image */
  height: 100%; /* Let the divider take the full height of its parent */
}

.bg-assets{
  background-image: 
  url('../assets/background/Bg_circle.png'),
  url('../assets/background/Bg_circle_copy.png'),
  url('../assets/background/Bg_circle.png'),
  url('../assets/background/Bg_circle_copy.png'),
  url('../assets/background/Bg_circle.png'),
  url('../assets/background/Bg_circle_copy.png'),
  url('../assets/background/Bg_circle.png'),
  url('../assets/background/Bg_circle_copy.png')
  ;

  background-size: 
  70%,
  115%,
  100%,
  100%,
  80%,
  80%,
  80%,
  70%
  /* 90% */
  ;

  background-repeat: 
  no-repeat,
  no-repeat,
  no-repeat,
  no-repeat,
  no-repeat,
  no-repeat,
  no-repeat,
  no-repeat;

  background-position: 
  left -550px top 0%,
  left 500px top 4%,
  left -700px top 35%,
  right -600px top 50%,
  left -650px top 65%,
  left 700px top 80%,
  left -650px top 95%,
  left 950px top 105%

}
