.sponsor-heading{
    font-family: 'Audiowide' ;
    color:aliceblue;
    display: flex;
    justify-content: center;  /* Horizontally center */
    align-items: center;
    font-size: 60px;
    
}
.spn-desc{
    margin-top:20%;
    font-family: 'Montserrat';
    color:aliceblue;
}
.link{
    position: relative;
    font-family: 'Orbitron';
    color:rgb(189, 218, 244);
    display: flex;
    justify-content: center;  /* Horizontally center */
    align-items: center;
    font-size: 20px;
    text-decoration: none;
}