#sponsors{
    height: 750px;
}
.sponsorScreen{
    display: flex;
    flex-direction: column;
}
.link {
    position: relative;
    font-family: 'Orbitron';
    color: rgb(189, 218, 244);
    display: flex;
    justify-content: center;  /* Horizontally center */
    align-items: center;
    font-size: 1rem;
    text-decoration: none;
}

.sponsor-heading {
    font-family: 'Audiowide' ;
    color:aliceblue;
    display: flex;
    justify-content: center;  /* Horizontally center */
    align-items: center;
    font-size: 60px;
    
}
.spnsr-images{
    padding-left: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.wolfram_logo{
    height: 22%;
    width: 22%;
}
.mhc_cs_logo{
    height: 20%;
    width: 20%;
}


.spn-desc {
    color: grey; /* White text color */
    text-align: center; 
    bottom: 0; /* Align to the bottom */
    width: 100%; /* Full width */
    font: 1rem 'Montserrat', sans-serif; /* Font style */
    align-items: center;
    justify-content: center;
    display: flex; /* Use flexbox for alignment */

}
@media (max-width: 574px) {
    .sponsor-heading{
        font-size: 35px;
    }
    .spnsr-images{
        flex-direction: column;
    }
}


