/* Side Menu Styling */
.sideMenu {
  position: fixed;
  top: 22%;í–£ 
  left:0.5%;
  width: 19%; /* Default width for larger screens */
  padding-top: 1%;
  /*border-right: 2px solid aliceblue;*/
  /* transition: width 0.3s ease, left 0.3s ease; Smooth transition for resizing */
}

/* Menu item styling */
.item {
  color: aliceblue;
  text-decoration: none;
  font-family: 'Orbitron';
}

/* Styling for each choice item */
.choice, .choice-active {
  height: 2.3rem;
  width: auto;
  display: block;
  padding: 0.5rem 0.1rem; /* Add some padding to each item */
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .sideMenu {
    width: 60%; /* Increase width on medium-sized screens */
    left: 0.5%; /* Adjust left margin for better centering */
  }

  .choice, .choice-active {
    height: 2rem; /* Make choice items a bit smaller */
  }
}



@media (max-width: 700px) {
    .sideMenu{
      display: none;
    }
}