.sideMenu{
    position: absolute;
    top: 22%; 
    left: 52;
    width: 50px;
    padding-top: 20px;
    /*border-right: 2px solid aliceblue;*/
}
.item{
    /*padding: 3%;*/
    color: aliceblue;
    text-decoration: none; 
    font-family: 'Orbitron';
}

.choice, .choice-active {
    height: 2.3rem;
    width: auto;
    display: block;
}