.stats-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    padding: 20px; /* Add some padding */
}

.stat-item {
    text-align: center; /* Center text under images */
    margin: 10px 0; /* Space between items */
}



@font-face {
    font-family: 'Orbitron';
    src: url(../../../public/fonts/Orbitron-Regular.ttf) format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Audiowide';
    src: url(../../../public/fonts/Audiowide-Regular.ttf) format('woff2');
    font-weight: normal;
    font-style: normal;
}

#stats{
    position: relative;
    height: 100vh;
    padding: 10px;
}

/* all numbers styles */
#stats .stats_num{

}

/* all words styles */
#stats .stats_words{
    font-family: "Orbitron";
    font-weight: 400;
    color: aliceblue;
    /* font-size: 80%; */

}
#stats .container{
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 20px;
}
/* heading: HackHolyoke 2022 */
/* #stats .heading_container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%; 
} */

#stats .line {
    height: 2px; /* Line thickness */
    background-color: #00FFF7; /* Cyan color */
}
#stats .line-left {
    position: absolute;
    height: 2px;
    background-color: #00FFF7;
    width: 20%;
    top: 50%;
    left: 2%;

}

#stats .line-right {
    position: absolute;
    height: 2px;
    background-color: #00FFF7;
    top:50%;
    width: 20%;
    right: 2%;

}
#stats .stats_heading{
    font-family: "Audiowide", sans-serif;
    font-size: 5vw;
    color: transparent;
    -webkit-text-stroke-width: 2px; /* Set the width of the text stroke */
    -webkit-text-stroke-color: #00FFF7; /* Set the stroke color */
}

/* heading: in numbers */
#stats .stats_heading_2{
    position: absolute;
    font-family: "Orbitron";
    font-size: 3vw;
    top: 55%;
    left: 45%;
    color: #00FFF7;
}


/* Number CSS Styles (locations) */

#stats .participants_num{
    position: absolute;
    top: 20%;             /* Align to the top */
    left: 15%;            /* Align to the left */
    margin: 10;          /* Ensure no extra margin */
    padding: 20;         /* Ensure no extra padding */
    width: 20%;        /* Adjust as necessary for image size */
    height: auto;       /* Adjust as necessary for image size */
}

#stats .colleges_num{
    position: absolute;
    top: 20%;             /* Align to the top */
    right: 15%;            /* Align to the left */
    margin: 10;          /* Ensure no extra margin */
    padding: 20;         /* Ensure no extra padding */
    width: 22%;        /* Adjust as necessary for image size */
    height: auto;       /* Adjust as necessary for image size */
}

#stats .majors_num{
    position: absolute;
    bottom: 18%;             /* Align to the top */
    left: 15%;            /* Align to the left */
    margin: 10;          /* Ensure no extra margin */
    padding: 20;         /* Ensure no extra padding */
    width: 22%;        /* Adjust as necessary for image size */
    height: auto;       /* Adjust as necessary for image size */
}

#stats .years_num{
    position: absolute;
    bottom: 18%;             /* Align to the top */
    right: 20%;            /* Align to the left */
    margin: 10;          /* Ensure no extra margin */
    padding: 20;         /* Ensure no extra padding */
    width: 13%;        /* Adjust as necessary for image size */
    height: auto;       /* Adjust as necessary for image size */
}

/* Words CSS Styles (locations and orientation) */

#stats .participants{
    position: absolute;
    top: 30%;             /* Align to the top */
    left: 15%;            /* Align to the left */
    margin: 10;          /* Ensure no extra margin */
    padding: 20;         /* Ensure no extra padding */
    font-size: 70%;
    width: 13%;        /* Adjust as necessary for image size */
    height: auto;       /* Adjust as necessary for image size */
}

#stats .colleges{
    position: absolute;
    top: 20%;             /* Align to the top */
    right: 5%;            /* Align to the left */
    margin: 10;          /* Ensure no extra margin */
    padding: 20;         /* Ensure no extra padding */
    font-size: 70%;
    width: 22%;        /* Adjust as necessary for image size */
    height: auto;       /* Adjust as necessary for image size */
    writing-mode: vertical-rl;
}

#stats .participating{
    position: absolute;
    top: 30%;             /* Align to the top */
    right: 15%;            /* Align to the left */
    margin: 10;          /* Ensure no extra margin */
    padding: 20;         /* Ensure no extra padding */
    font-size: 70%;
    width: 22%;        /* Adjust as necessary for image size */
    height: auto;       /* Adjust as necessary for image size */
}

#stats .majors{
    position: absolute;
    bottom: 15%;             /* Align to the top */
    left: 35%;            /* Align to the left */
    margin: 10;          /* Ensure no extra margin */
    padding: 20;         /* Ensure no extra padding */
    font-size: 70%;
    width: 22%;        /* Adjust as necessary for image size */
    height: auto;       /* Adjust as necessary for image size */
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

#stats .th{
    position: absolute;
    bottom: 13%;             /* Align to the top */
    right: 7%;            /* Align to the left */
    margin: 10;          /* Ensure no extra margin */
    padding: 20;         /* Ensure no extra padding */
    font-size: 70%;
    width: 13%;        /* Adjust as necessary for image size */
    height: auto;       /* Adjust as necessary for image size */
}

#stats .year{
    position: absolute;
    bottom: 7%;             /* Align to the top */
    right: 2%;            /* Align to the left */
    margin: 10;          /* Ensure no extra margin */
    padding: 20;         /* Ensure no extra padding */
    font-size:70%;
    width: 30%;        /* Adjust as necessary for image size */
    height: auto;       /* Adjust as necessary for image size */
}

@media (max-width: 1720px){
    .major, .participants, .colleges, .participating, .th, .year,.line-left, .line-right, .stats_heading_2,.majors_num,.years_num,.participants_num,.colleges_num,.stats_words,.stats_heading,.stats_num,.stats-container,.stat-item, .colleges{
        font-size: 4vw;
    }

    .container{
        max-width: 1420px
    }
}