.homeButtons {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: flex; /* Use flexbox for alignment */
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 100%; /* Make button full width */
  max-width: 10rem; /* Set a max width for larger screens */
  height: auto;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 10px; /* Add margin to space out buttons */
  transition: transform 0.2s; /* Smooth scaling effect */
}

.button-normal {
  width: 90%; /* Keep normal button image full width */
  height: 100%; /* Keep normal button image full height */
}

.button-hover {
  display: none;
  position: absolute;
  width: 95%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio */
}

.homeButtons:hover .button-normal {
  display: none; /* Hide normal image on hover */
  width: 100%; /* Keep hover button image full width */
  height: 100%; /* Keep hover button image full height */
}

.homeButtons:hover .button-hover {
  width: 100%; /* Keep hover button image full width */
  height: 100%; /* Keep hover button image full height */
  display: block; /* Show hover image on hover */
}

/* Optional pressed effect for active buttons */
.homeButtons:active {
  transform: translateY(1px); /* Slightly move down */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Adjust shadow for pressed effect */
}
/* Media queries for responsive button layout */
@media (max-width: 2000px) {
  .homeButtons {
      max-width: 45%; /* Change to 2 buttons per row */
  }
}


/* Media queries for responsive button layout */
@media (max-width: 1200px) {
  .homeButtons {
      max-width: 45%; /* Change to 2 buttons per row */
  }
}

@media (max-width: 500px) {
  .homeButtons {
      max-width: 90%; /* Change to 1 button per row */
      border-radius: 25%; /* Adjust roundness if needed */
  
    }
  button:hover {
      transform: translateX(10%);
  }
  .button-hover {
    position: relative;
  }
}