/*!**************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./styles/pages.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************/
.heading {
  font-family: 'PixelifySans-Regular', serif; /*Will be changing the font depending on design*/
  color:aliceblue
}

.container {
    height: 100vh; /* Adjust the height as needed */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 20px; /* Optional: Add some padding */
    /*background-image: linear-gradient(to bottom, #2c3c94, #000000 );*/
  }

.opp_container{
  height: 100vh; /* Adjust the height as needed */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 20px; /* Optional: Add some padding */
  /*background-image: linear-gradient(to bottom, #000000 , #2c3c94);*/
}
  
section {
    margin-bottom: 20px; /* Adjust the spacing between sections as needed */
    padding: 10px; /* Optional: Add some padding inside each section */
    border: 1px solid #ccc; /* Optional: Add a border for visual separation */
  }
