@font-face {
  font-family: 'Audiowide';
  src: url(../../../public/fonts/Audiowide-Regular.ttf) format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pixelify';
  src: url(../../../public/fonts/PixelifySans-Medium.ttf) format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Orbitron';
  src: url(../../../public/fonts/Orbitron-Regular.ttf) format('woff2');
  font-weight: normal;
  font-style: normal;
}

#home {
    display: flex;
    flex-direction: column; /* Arrange children vertically */
    align-items: center; /* Center items horizontally
    /*justify-content: center; /* Center items vertically if the container has height */
    min-height: 100vh; /* Ensure the container takes up at least the full viewport height */
    text-align: center; /* Center text inside the container */
    padding: 10px; /* Add padding around the container */
  }
  
  #home .buttonLayout{
    display: flex;
    flex-direction: row;
    gap: 1px; /* Add space between buttons */
    top:30rem;
    right: 19rem;
    position: absolute;
  }
  
  #home .heading{
    /* HACK HOLYOKE 2024! */
    display: flex;
    position: absolute;
    width: 1000px;
    height: 108px;
    left: 400px;
    top: 250px;
  
    font-family: 'Audiowide';
    font-size: 85px;
    line-height: 119px;
  
    color: #00FFF7;
  
  }
  #home .heading_shadow{
    /* HACK HOLYOKE 2024! */
    display: flex;
    position: absolute;
    width: 1000px;
    height: 108px;
    left: 406px;
    top: 250px;
  
    font-family: 'Audiowide';
    font-style: normal;
    font-weight: 400;
    font-size: 85px;
    line-height: 119px;
  
    background: linear-gradient(180deg, #00FFF7, #2C3C94, #737373);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
  }
  #home .welcome{
    /* Welcome to */
  
    position: absolute;
    width: 304px;
    height: 67px;
    left: 380px;
    top: 240px;
  
    font-family: 'Orbitron';
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
  }
  
  #home .desc{
    /* November 14-15 | Chapin Auditorium, South Hadley, MA */
  
    position: absolute;
    width: 781px;
    height: 46px;
    left: 335px;
    top: 350px;
    padding-top: 50px;
    font-family: 'Pixelify';
    font-size: 25px;
    line-height: 30px;
    color: #9CFFFC;
  
  }
  
  #home .image{
    position: absolute;
    left: 100px;
    top: 300px;
    /* animation: upAndDown 5s infinite linear; */
  }

  .imageTop{
    position: absolute;
    left: 300px;
    top: 200px;
    /* animation: upAndDown 5s infinite linear; */
  }

  .imageBottom{
    position: absolute;
    left: 300px;
    top: 530px;
    /* animation: upAndDown 5s infinite linear; */
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes upAndDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  