@font-face {
  font-family: 'Audiowide';
  src: url(../../../public/fonts/Audiowide-Regular.ttf) format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pixelify';
  src: url(../../../public/fonts/PixelifySans-Medium.ttf) format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Orbitron';
  src: url(../../../public/fonts/Orbitron-Regular.ttf) format('woff2');
  font-weight: normal;
  font-style: normal;
}

#home {
    display: grid;
    flex-direction: column; /* Arrange children vertically */
    align-items: center; 
    min-height: 100vh; /* Ensure the container takes up at least the full viewport height */
    
  }
  
  #home .buttonLayout{
    display: flex;
    flex-direction: row;
    gap: 0.2%; /* Add space between buttons */
    top: 60%;
    left : 31%;
    position: absolute;
    transform: translate(-5%);
  }
  
  #home .heading{
    /* HACK HOLYOKE 2024! */
    display: flex;
    position: absolute;
    left: 30%;
    top: 37%;
    font-family: 'Audiowide';
    font-size: 5vw;
    color: #00FFF7;
  
  }
  #home .heading_shadow{
    /* HACK HOLYOKE 2024! */
    display: flex;
    position: absolute;
    left: 30.5%;
    top: 37%;
  
    font-family: 'Audiowide';
    font-style: normal;
    font-weight: 400;
    font-size: 5vw;
  
    background: linear-gradient(180deg, #00FFF7, #2C3C94, #737373);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
  }
  #home .welcome{
    /* Welcome to */
  
    position: absolute;
    left: 30%;
    top: 30%;
  
    font-family: 'Orbitron';
    font-size: 3vw;
    line-height: 48px;
    color: #FFFFFF;
  }
  
  #home .desc{
    /* November 14-15 | Chapin Auditorium, South Hadley, MA */
    position: absolute;
    left: 30%;
    top: 52%;
    font-family: 'Pixelify';
    font-size: 2vw;
    color: #9CFFFC;
  
  }
  
  #home .image{
    position: absolute;
    max-width: 17%;
    left: 10%;
    top: 31%;
  }

  @media screen and (max-width: 1000px) {
    .desc{
      top: 30%;
    }
  }
  @media screen and (max-width: 700px) {
    .desc{
      top: 20%;
    }
  }

  @media screen and (max-width: 600px) {
    .desc{
      top: 10%;
    }
  }