@font-face {
  font-family: 'Audiowide';
  src: url(../../../public/fonts/Audiowide-Regular.ttf) format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pixelify';
  src: url(../../../public/fonts/PixelifySans-Medium.ttf) format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Orbitron';
  src: url(../../../public/fonts/Orbitron-Regular.ttf) format('woff2');
  font-weight: normal;
  font-style: normal;
}

#home {
    display: flex;
    flex-direction: column; /* Arrange children vertically */
    align-items: center; /* Center items horizontally
    /*justify-content: center; /* Center items vertically if the container has height */
    min-height: 100vh; /* Ensure the container takes up at least the full viewport height */
    text-align: center; /* Center text inside the container */
    padding: 10px; /* Add padding around the container */
  }
  
  #home .buttonLayout{
    display: flex;
    flex-direction: row;
    gap: 0.5%; /* Add space between buttons */
    top: 60%;
    left : 35%;
    position: absolute;
    transform: translate(-5%);
  }
  
  #home .heading{
    /* HACK HOLYOKE 2024! */
    display: flex;
    position: absolute;
    left: 35%;
    top: 37%;
  
    font-family: 'Audiowide';
    font-size: 5vw;

  
    color: #00FFF7;
  
  }
  #home .heading_shadow{
    /* HACK HOLYOKE 2024! */
    display: flex;
    position: absolute;
    left: 35%;
    top: 35%;
  
    font-family: 'Audiowide';
    font-style: normal;
    font-weight: 400;
    font-size: 5vw;
  
    background: linear-gradient(180deg, #00FFF7, #2C3C94, #737373);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
  }
  #home .welcome{
    /* Welcome to */
  
    position: absolute;

    height: 5%;
    left: 35%;
    top: 30%;
  
    font-family: 'Orbitron';
    font-size: 3vw;
    line-height: 48px;
    color: #FFFFFF;
  }
  
  #home .desc{
    /* November 14-15 | Chapin Auditorium, South Hadley, MA */
  
    position: absolute;

    left: 35%;
    top: 50%;
    font-family: 'Pixelify';
    font-size: 2vw;
    line-height: 30px;
    color: #9CFFFC;
  
  }
  
  #home .image{
    position: absolute;
    max-width: 27%;
    left: 5%;
    top: 30%;
  }

