.c-card-container {
    /* border-radius: 1.8rem; */
    display: block;
    height: var(--slide-height);
    width: 100%;
    object-fit: cover;
    transition: z-index 0.3s ease-in-out;

}

.cardPic{
    display: flex;
    min-width: auto;
    max-height: 32rem;
    width: auto;
    touch-action: pan-y pinch-zoom;

}
.text-overlay-challenge {
    position: absolute;
    left: 13%;
    top: 29%;
    width: 65%;
    color: white;
    text-shadow: 2px 2px 7px rgba(255, 255, 255, 0.8); /*Adjust opacity for better readability */
    z-index: 100;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 1.5; /* Adjust line-height for readability */
    box-sizing: border-box; /* Include padding in the element’s total width and height */
}

.challenge-description {
    font-size: 15px
}

/* Media query for smaller screens */
@media (max-width: 638px) {
    .c-card-container,
    .cardPic {
        transform: scale(0.9); /* Scale down the container and image */
    }

    .text-overlay-challenge {
        width: 400px;
        left: 20%;
        font-size: 12px; /* Reduce font size */
    }

    .challenge-description {
        font-size: 13px; /* Slightly smaller description text */
    }
}