
.c-card-container {
    /* border-radius: 1.8rem; */
    display: block;
    height: var(--slide-height);
    width: 100%;
    object-fit: cover;
    transition: z-index 0.3s ease-in-out;

}

.cardPic{
    display: flex;
    min-width: auto;
    max-height: 32rem;
    width: auto;
    touch-action: pan-y pinch-zoom;

}
.text-overlay-challenge {
    position: absolute;
    left: 17%;
    top: 29%;
    width: 65%;
    color: white;
    text-shadow: 2px 2px 7px rgba(255, 255, 255, 0.8); /*Adjust opacity for better readability */
    z-index: 100;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    /* align-items: center; Center content vertically */
    text-align: center;
    line-height: 1.5; /* Adjust line-height for readability */
    /* padding: 0 6rem; Add padding to prevent text from touching edges */
    box-sizing: border-box; /* Include padding in the element’s total width and height */

    /* background-color: rgba(255, 255, 255, 0.131);
    border-radius: 40px;
    padding: 1rem;
    overflow: hidden; */
}

.challenge-description {
    font-size: 15px
}
