@font-face {
  font-family: 'Audiowide';
  src: url(../../../public/fonts/Audiowide-Regular.ttf) format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../../../public/fonts/Montserrat-Regular.ttf) format('woff2');
  font-weight: normal;
  font-style: normal;
}
  
  .textContainer {
    flex: 1;
    padding: 3vw;
    color: white;
    font-size: 2vw;
    font-family: 'Montserrat'

  }
  
  .headerContainer {
    flex: 1;
    padding: 1rem;
    color: transparent;
    font-size: 3vw;
    font-family: 'Audiowide';
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #00FFF7; 
  }
  



  