@font-face {
  font-family: 'Audiowide';
  src: url(../../../public/fonts/Audiowide-Regular.ttf) format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../../../public/fonts/Montserrat-Regular.ttf) format('woff2');
  font-weight: normal;
  font-style: normal;
}
#about{
  max-width: 100%;
  overflow-x: hidden;
  height: 900px;
}
.aboutText{
  display: flex;
  flex-direction: row;
}
  
  .textContainer {

    padding: 3vw;
    color: white;
    font-size: 1.5vw;
    font-family: 'Montserrat'

  }
  
  .headerContainer {
    padding-left: 10%;
    color: aliceblue;
    font-size: 3vw;
    font-family: 'Audiowide';
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #00FFF7; 
  }
  



  @media (max-width: 550px) {
    #about{
      height: 400px;
    }
    .aboutText{
      display: flex;
      flex-direction: column;
    }
    .textContainer {
      font-size: 3vw;
    }
    .headerContainer {
      font-size: 5vw;
    }
  }

  @media (max-width: 450px) {
    #about{
      height: 400px;
      margin-bottom: 20%;
    }
  }