.speaker-heading{
    font-family: 'Audiowide' ;
    color:aliceblue;
    display: flex;
    justify-content: center;  /* Horizontally center */
    align-items: center;
    font-size: 60px;
    
}
  