#speakers{
    min-height: 850px;
}
.speaker-heading{
    font-family: 'Audiowide' ;
    color:aliceblue;
    display: flex;
    justify-content: center;  /* Horizontally center */
    align-items: center;
    font-size: 60px;
    
}
@media screen and (max-width: 500px) {
    .speaker-heading {
        font-size: 35px; 
    }
    #speakers{
        height: 600px; 
    }
}