@font-face {
  font-family: 'Answer Font';
  src: url('../../../public/fonts/Orbitron-ExtraBold.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}
  
  
  .title {
    font-size: 3rem;
    margin: 2rem 0;
    color: aqua;
    text-align: center;
  }

  .image-container {
    display: flex;
    justify-content: space-between; /* Adds space between the two images */
    gap: 50px;
    width: 85%;
    padding-left: 7%;
    padding-bottom: 0.5%;
    position: relative;
  }
  
  .questionLeft {
    cursor: pointer;
    transition: height 0.3s ease-in-out;
    width: 50%;
    overflow: hidden;
  }

  .questionRight {
    cursor: pointer;
    transition: height 0.3s ease-in-out;
    width: 50%;
    overflow: hidden;
  }
  
  
  .answerRight {
    position: absolute;
    left: 50%; /* Center horizontally */
    transform: translate( 20%, -50%);
    color: white;
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif ;
    text-align: justify;
    width: 39%; /* Adjust width based on your preference */
    padding: 15px;
    line-height: 25px;
    z-index: 5;
    box-sizing: border-box; /* Include padding within the element's width */
    word-wrap: break-word; /* Break long words if necessary */
  }

  .answerLeft {
    position: absolute;
    left: 50%; /* Center horizontally */
    transform: translate( -101%, -50%);
    color: white;
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    width: 40%; /* Adjust width based on your preference */
    padding: 15px;
    line-height: 25px;
    z-index: 5;
    box-sizing: border-box; /* Include padding within the element's width */
    word-wrap: break-word; /* Break long words if necessary */
  }