/* schedule.css */
.schedule-container {
    display: flex;
    flex-direction: row; /* Arrange items in a row */
    justify-content: space-between; /* Space between buttons and image */
    align-items: center; /* Center vertically */
    width: 90%; /* Full width */
  }
  
  .schedule-image-wrapper {
    flex: 1; /* Allow this to take available space */
    max-width: 60%; /* Adjust this percentage as needed */
    margin-left: 3rem; /* Space between buttons and image */
  }
  
  .schedule-image {
    max-width: 100%; /* Ensure image scales with its container */
    height: auto; /* Maintain aspect ratio */
  }