/* schedule.css */
.schedule-container {
    display: flex;
    justify-content: space-between; /* Space between buttons and image */
    align-items: center; /* Center vertically */
    width: 90%; 
  }
  
  .schedule-image-wrapper {
    flex: 1; /* Allow this to take available space */
    max-width: 60%; /* Adjust this percentage as needed */
    margin-left: 3rem; /* Space between buttons and image */
  }
  
  .schedule-image {
    max-width: 100%; /* Ensure image scales with its container */
    height: auto; /* Maintain aspect ratio */
  }


  .divider {
    height: 100%; /* Matches the container height */
    width: 1px;
    background-color: white; /* White vertical line */
    margin: 0 15px; /* Adds space between the button and the schedule */
}
