@font-face {
  font-family: 'About Us Font';
  src: url('../../public/fonts/PixelifySans-Bold.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}
  
  .textContainer {
    flex: 1;
    padding: 1rem;
    color: white;
    font-size: large;
    font-family: "Orbitron";
    font-weight: 400