/*!****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./styles/globals.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************/
@font-face {
  font-family: 'PixelifySans-Regular';
  src: url(/public/fonts/PixelifySans-Regular.ttf);
}
@font-face {
  font-family: 'Verdana-Bold';
  src: url(/public/fonts/Verdana-Bold.ttf);
}
@font-face {
  font-family: 'Orbitron-Regular';
  src: url(/public/fonts/Orbitron-Regular.ttf);
}
@font-face {
  font-family: 'Audiowide-Regular';
  src: url(/public/fonts/Audiowide-Regular.ttf);
  
}

body {
    /*background-image: linear-gradient(to left bottom, #9a72a3, #a990b7, #baadc9, #cfcad9, #e7e7e7);
    /* You can also use an image background */
    /* background-image: url('/background.jpg');
    background-size: cover;
    background-position: center; */
    /*background-image: linear-gradient(to bottom, #2c3c94, #000000 );*/
    background-image: linear-gradient(to bottom, black , #2c3c94 , black, #2c3c94 , black) ;

  }

