/* Ensure Tailwind CSS is installed and configured correctly */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    height: 100vh;
    background-color: aliceblue !important;/* Replace with your desired color */
    background-image: none !important;
}

.tailWind-form{

    padding: 10% 25%;
    font-family: 'Montserrat', sans-serif;
 
}