* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
  section {
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white; 
  }
  
  .title {
    font-size: 3rem;
    margin: 2rem 0;
    color: aqua;
    text-align: center;
  }
  
  .faq {
    width: 100%;
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #fff;
    cursor: pointer;
  }
  
  .question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .question h3 {
    font-size: 1.8rem;
  }
  
  .answer {
    width: 100%;
    padding-top: 1rem;
  }
  
  .answer p {
    font-size: 1.8rem;
    line-height: 1.6;
    color: #fff;
    text-align: left;
  }
  


