@font-face {
  font-family: 'PixelifySans-Regular';
  src: url(/public/fonts/PixelifySans-Regular.ttf);
}
@font-face {
  font-family: 'Verdana-Bold';
  src: url(/public/fonts/Verdana-Bold.ttf);
}
@font-face {
  font-family: 'Orbitron-Regular';
  src: url(/public/fonts/Orbitron-Regular.ttf);
}
@font-face {
  font-family: 'Audiowide-Regular';
  src: url(/public/fonts/Audiowide-Regular.ttf);
  
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url(/public/fonts/Montserrat-Regular.ttf);
}

body {

    /*background-image: linear-gradient(to left bottom, #9a72a3, #a990b7, #baadc9, #cfcad9, #e7e7e7);
    /* You can also use an image background */
    /* background-image: url('/background.jpg');
    background-size: cover;
    background-position: center; */
    overflow-x: hidden;
    background-image: linear-gradient(to bottom, black , #2c3c94 , black, #2c3c94 , black) ;

  }
