
@font-face {
  font-family: 'PixelifySans-Regular';
  src: url(/public/fonts/PixelifySans-Regular.ttf);
}
@font-face {
  font-family: 'Verdana-Bold';
  src: url(/public/fonts/Verdana-Bold.ttf);
}
@font-face {
  font-family: 'Orbitron-Regular';
  src: url(/public/fonts/Orbitron-Regular.ttf);
}
@font-face {
  font-family: 'Audiowide-Regular';
  src: url(/public/fonts/Audiowide-Regular.ttf);
  
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url(/public/fonts/Montserrat-Regular.ttf);
}

body {
    margin: 0;
    overflow-x: hidden;
    max-width: 100%;
    background-image: linear-gradient(to bottom, black , #2c3c94 , black, #2c3c94 , black) ;
    box-sizing: border-box;
  }
