.heading {
  font-family: 'Audiowide'; /*Will be changing the font depending on design*/
  color:aliceblue; 
}

.container {
    height: 130vh; /* Adjust the height as needed */
    overflow-y: hidden; 
    overflow-x: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    width: 100vw;
  }
  
section {
    margin-bottom: 20px; /* Adjust the spacing between sections as needed */
    border: 1px solid #ccc; /* Optional: Add a border for visual separation */
}


.bg-assets{
  background-image: 
  url('../app/assets/background/Bg_lines.png'), 
  url('../app/assets/background/Bg_lines.png'), 
  url('../app/assets/background/Bg_circle.png'),
  url('../app/assets/background/Bg_lines.png'), 
  url('../app/assets/background/Bg_lines.png'),
  url('../app/assets/background/Bg_circle_copy.png')

  ;

  background-size: 
  30%, 
  60%,
  110%,
  50%,
  40%,
  90%
  ;

  background-repeat: 
  no-repeat,
  no-repeat, 
  no-repeat,
  no-repeat,
  no-repeat,
  no-repeat;

  background-position: 
  left top 3%,
  150% 4%,
  left 270% top 13%,
  left -30% top 34%,
  left 25% top 49%,
  left 550% top 40%

  ;



}



