.heading {
    font-family: 'Audiowide', serif; /*Will be changing the font depending on design*/
    color:aliceblue;
    margin-bottom: 20px; /* Adds space between the heading and the cards */
  }
  
.container {
    height: 88vh; /* Adjust the height as needed */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 70px; /* Optional: Add some padding */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    /*background-image: linear-gradient(to bottom, #2c3c94, #000000 );*/
}

.section {
    margin-bottom: 20px; /* Adjust the spacing between sections as needed */
    padding: 10px; /* Optional: Add some padding inside each section */
    border: 1px solid #ccc; /* Optional: Add a border for visual separation */
  }

.memberCards{
  height: 100%;
  width: auto;
}

#co-chairs{

  
}

.bg-assets{
  background-image: 
  url('../app/assets/background/Bg_lines.png'), 
  url('../app/assets/background/Bg_lines.png'), 
  url('../app/assets/background/Bg_circle.png'),
  url('../app/assets/background/Bg_lines.png'),
  url('../app/assets/background/Bg_circle.png'),
  url('../app/assets/background/Bg_circle_copy.png'),
  url('../app/assets/background/Bg_circle.png'),
  url('../app/assets/background/Bg_lines.png'),
  url('../app/assets/background/Bg_lines.png')
  ;

  background-size: 
  30%, 
  60%,
  100%,
  50%,
  100%,
  100%,
  90%,
  30%,
  40%
  ;

  background-repeat: 
  no-repeat,
  no-repeat, 
  no-repeat,
  no-repeat,
  no-repeat,
  no-repeat,
  no-repeat,
  no-repeat,
  no-repeat;

  background-position: 
  left top 3%,
  900px 200px,
  left -300px top 10%,
  left -200px top 26%,
  left -700px top 27%,
  right -600px top 40%,
  center top 57%,
  right top 60%,
  left top 54%
  ;



}