.heading {
  font-family: 'Audiowide', serif; /*Will be changing the font depending on design*/
  color:aliceblue;
  margin-bottom: 20px; /* Adds space between the heading and the cards */
}
body {
  width: 100%;
  display: flex; /* Enable flexbox */
  flex-direction: column; /* Stack children vertically */
  margin: 0; /* Remove default margin */
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden;

}
.team_header {
  margin-top: 10%;
  font-family: 'Audiowide' ;
  color:aliceblue;
  display: flex;
  justify-content: center;  /* Horizontally center */
  align-items: center;
  font-size: 60px;
  
}
.team-container {
  height: 700px; /* Adjust the height as needed */
  overflow-y: hidden; /* Enable vertical scrolling */
  /*padding: 70px; /* Optional: Add some padding */
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  align-items: center;
  font-size: 50px;
  max-width: 100%;
  /* background-image: linear-gradient(to bottom, #2c3c94, #000000 ); */
}


.teambg-assets{
  background-image: 
  url('../app/assets/background/Bg_circle.png'),
  url('../app/assets/background/Bg_circle_copy.png'),
  url('../app/assets/background/Bg_circle.png'),
  url('../app/assets/background/Bg_circle_copy.png'),
  url('../app/assets/background/Bg_circle.png'),
  url('../app/assets/background/Bg_circle_copy.png'),
  url('../app/assets/background/Bg_circle.png'),
  url('../app/assets/background/Bg_circle_copy.png')
  ;

  background-size: 
  70%,
  115%,
  100%,
  100%,
  80%,
  80%,
  80%,
  70%
  /* 90% */
  ;

  background-repeat: 
  no-repeat,
  no-repeat,
  no-repeat,
  no-repeat,
  no-repeat,
  no-repeat,
  no-repeat,
  no-repeat;

  background-position: 
  left -550px top 0%,
  left 500px top 4%,
  left -700px top 35%,
  right -600px top 50%,
  left -650px top 65%,
  left 700px top 80%,
  left -650px top 95%,
  left 950px top 105%

}

@media screen and (max-width: 910px) {
  #co-chairs, #sponsorship, #webmaster{
    height: 1400px; /* Double the height */
    overflow-x: hidden;
    flex-direction: column; /* Stacks the cards vertically */
    align-items: center; /* Optional: Center them */
    gap: 20px
  }
  #logistics{
    height: 2600px;
    overflow-y: visible;
    gap: 20px
  }

}
@media (max-width: 574px) {
  .team_header{
    margin-top: 30%;
    font-size: 35px;
    margin-bottom: -50%;
  }

}
.section {
  margin-bottom: 0.5%; /* Adjust the spacing between sections as needed */
  /*padding: 10px; /* Optional: Add some padding inside each section */
}

.stacked-cards {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Optional: Adjust the gap between cards */
  align-items: center; /* Optional: Center align the stacked cards */
}

#co-chairs{
 
}

