
.challenge-embla {
  max-width: 100rem;
  margin: auto;
    --slide-height: 35rem;
    --slide-spacing: -20rem;
    --slide-size: 55%;
  }

  .challenge-embla__viewport {
    width: 1450px;
    overflow: visible;
  }

  .challenge-embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -0.2);
    
  }

  .challenge-embla__slide {
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);
    min-width: 0;
    margin-right: var(--slide-spacing);
    position: relative; /* Ensure z-index works */
    transition: z-index 0.3s, transform 0.3s; /* Smooth transition */
    
  }

  .challenge-embla__slide--center {
    position: relative;
    z-index: 10; /* Higher z-index for the center slide */
  }
  
  .challenge-embla__slide--left,
  .challenge-embla__slide--right {
    z-index: 1; /* Lower z-index for slides on the sides */
  }

  .challenge-embla__controls {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    margin-top: -5rem;
  }

  .challenge-embla__buttons {
    display: flex;
    flex-direction: row;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6rem;
    align-items: center;
    justify-content: center;
  }

  .challenge-embla__button {
    -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    width: 5rem;
    height: 5rem;
    z-index: 1;
    border-radius: 50%;
    color: var(--text-body);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .challenge-embla__button:disabled {
    color: var(--detail-high-contrast);
  }
  .challenge-embla__button__svg {
    width: 100%;
    height: 100%;
  }
  .challenge-embla__button__svg__hover{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .challenge-embla__button:hover .challenge-embla__button__svg {
    display: none;
  }
  
  .challenge-embla__button:hover .challenge-embla__button__svg__hover {
    display: block;
  }

  .challenge-embla__dots {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
  }
  .challenge-embla__dot {
    border: 1px solid #ccc;
    -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 5px;
    width: 1rem;
    height: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  .challenge-embla__dot:after {
    box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    content: '';
    border: 1px solid #ccc;
  }
  .challenge-embla__dot--selected:after {
    box-shadow: inset 0 0 0 0.2rem var(--text-body);
    background: linear-gradient(white, #2c3c94);
  }
  .challenge-embla__slide__number {
    backface-visibility: hidden;
  }
  
  @media(max-width: 638px) {
    .challenge-embla__container,
    .challenge-embla__slide {
      transform: scale(0.8); /* Scale down everything by 80% */
    }
    
  }

  @media(max-width: 560px) {
    .challenge-embla__container,
    .challenge-embla__slide {
      transform: scale(0.96); /* Scale down everything by 80% */
    }
    
  }